h1
h2
h3
h4
  font-family 'Trirong', serif

h1
  color: $colors.green

.mega
  font-size 56px
  line-height: 1.25

body
p
  font-family 'Rubik', sans-serif
  line-height 1.25

a
  display inline-block
  color: $colors.light-green