.landing-hero
  position relative
  margin-bottom 60px

  +break(desktop)
    height 100vh
    margin-bottom 108px

  &:before
    content ''
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    background-color alpha(#000,0.15)
    z-index 1


  &__image
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    object-fit cover
    z-index 0

    +break(desktop)
      position relative


  &__content
    position relative
    width 100%
    color: $colors.light
    padding 60px 24px
    z-index 2

    +break(desktop)
      position absolute
      width 500px
      top 100px
      left 50px
      padding 0
      padding 0 24px

    .mega
      margin-top 0
      margin-bottom 12px
