@import 'normalize.css'
@import 'colors'
@import 'typography'
@import 'nav'

html
body
  height 100%

body
  background-color $white
  background url('../../images/concrete-texture.png')

img
  display block