#header
  display flex
  align-items flex-end
  justify-content space-between

.main-nav
  &__list
    display flex

    li
      margin 0 12px

      a
        padding 6px
        color white
        text-decoration none
        letter-spacing 1px


